.detail-img {
	width: 550px;
	height: 500px;
	margin-top: 1rem;
	border: solid #67645e;
	border-radius: 30px;
	margin-bottom: 1rem;
}

.detail-title {
	margin-top: 2rem;
	color: #67645e;
}

.post-details {
	color: #67645e;
	margin-top: 3rem;
	margin-bottom: 20rem;
}

 @media only screen and (max-width: 530px) {
	.detail-img {
		height: 100%;
		width: 100%;
		border-radius: 30px;

	}
 }