@import url('https://fonts.googleapis.com/css2?family=Cantarell:ital@1&display=swap');


.authPage {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	background-image: url(https://i.imgur.com/a1hpqbc.png);
	background-size: cover;
	background-repeat: no-repeat;
	height: 100vh;
}

.auth-h1 {
	color: #67645e;
	margin-top: 4rem;
	font-size: 3rem;
}

.auth-h2 {
	color: #67645e;
	font-family: 'Cantarell', sans-serif;
}

@media only screen and (max-width: 730px) {

	.authPage {
			display: grid;
			position: absolute;
			grid-template-columns: repeat(auto-fit, minmax(22rem, 20rem));
			justify-content: center;
			background-image: url(https://i.imgur.com/a1hpqbc.png);
			background-size: cover;
			background-repeat: no-repeat;
			height: 100%;
			width: 100%;
			
		}
	
		.auth-h1 {
			color: #67645e;
			margin-top: 4rem;
			font-size: 3rem;
		}
	
		.auth-h2 {
			color: #67645e;
			font-family: 'Cantarell', sans-serif;
		}
}