
   
.container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(12rem, 16rem));
  border-radius: 10px;
  margin-top: 8vmin;
}

/* .item-card {
  margin: 2vw;
  border-radius: 5px;
  height: 40vh;
  width: 15vw;
}

.item-card:hover {
  transform: scale(1.1);
}

.title {
  background-color: white;
  border-radius: 4px;
} */