

.container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(22rem, 22rem));
justify-content: center;
  margin-top: 2rem;
  padding: 0;
}

.posts-h1 {
  margin-bottom: 2rem;
}

/* .item-card {
  margin: 2vw;
  border-radius: 5px;
  height: 40vh;
  width: 15vw;
}

.item-card:hover {
  transform: scale(1.1);
}

.title {
  background-color: white;
  border-radius: 4px;
} */