
/* .login-container {
	display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding-right: 12vh;
	background-image: url(https://i.imgur.com/IiRn6BH.png);
	background-size: 1500px;
	width: 1500px;
  height: 600px;
  background-repeat: no-repeat;

} */