.HomePage {
	background-image: url(https://i.imgur.com/bzVHm3y.gif);
	background-repeat: no-repeat;
	height: 300vmin;
	width: 215vmin;
	margin-top: 10vmin;
}


.rectangle-23 {
 height: 611px;
 width: 400px;
 position: absolute;
 top: 72px;
 margin-left: 100px;

}

.title {
  letter-spacing: 14.5px;
  line-height: 80px;
  width: 907px;
  background-color: gray;
  opacity: 80%;
}

.place {
	color: white;
	font-weight: 500;
	font-size: 27px;
  letter-spacing: 5px;
 margin-right: 450px; 

}

.createbtn {
	margin-top: 35px !important; 
	margin-right: 75vmin !important; 
	
}