
.HomePage {
	margin: 0;
	padding: 0;
}

.img-div {
	position: relative;
	color: white;
	justify-content: center;
	margin-top: 1.5rem;
}
/* .home-img {
	background-size: cover;
	background-repeat: no-repeat;
	height: 100vh;
} */

.home-text {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.home-h2 {
	font-size: 3rem;
	color: white;

}

.create-link {
	text-decoration: underline;
}





