nav {
  display: flex;
  align-items: center;
  justify-content:flex-start;
  padding: 1rem;
  background-color: white;
  color: black;
  gap: 1em;
  font-size: 10px;
  top: 0;
  /* margin-bottom: 1rem; */
}



.nav-links {
  color: Black;
  /* width: 20vh; */
  width: 4vw;
  font-size: 14px;
  text-decoration: none;
}

.nav-links:hover {
  color: green;
}


a {
  text-decoration: none;
  color: rgb(100, 97, 97);
}

.aura-h1 {
  font-size: 2rem;
  /* text-align: center; */
  margin-left: 16rem;
 

}

/* nav {
  display: flex;
  justify-content: space-around;
  background-color: white;
  align-items: center;
  font-size: 1rem;
  font-weight: 400;
  padding: 1.2em 2.8em;
} */



/* 
.nav-img {
    display: flex;
    justify-content: center;
    height: 4vmin;
     
} */